* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* navbar */
.header {
  display: flex;
  /* position: relative; */
  font-family: monospace;
  justify-content: space-between;
  /* background-color: #244855; */
  background-color: #04364a;
  width: 100%;
  /* height: 50px; */
  height: 10vh;
  /* font-size: 2.5vw; */
  /* font-size: 30px; */
}

.navv {
  margin: 10px;
  color: #51c4d3;
}
.navbar {
  margin-top: 12px;
  margin-right: 80px;
  font-size: 2.5vw;
}
.pp {
  margin-left: 80px;
  color: #51c4d3;
  margin-top: 5px;
  /* background-color: #874F41; */
  border-radius: 5px;
  /* width: 300px; */
  font-size: 2.5vw;
  padding-left: 15px;
  /* margin-bottom: 5px; */
  margin-top: 12px;
}

header a:hover {
  color: rgb(165, 109, 222);
  transition: 0.4s;
}

a:link {
  text-decoration: none;
}

/* navbar ends */

/* main */
.main {
  display: flex;
  /* border: solid black 2px; */
  background-color: #244855;
  flex-direction: row;
  justify-content: flex-end;
  /* margin-top: 5px; */
  /* height: 590px; */
  height: 90vh;
}

.h1 {
  font-family: monospace;
  border: solid #025373 2px;
  background-color: #03506f;
  border-radius: 10px;
  margin-top: 100px;
  margin-bottom: 50px;
  /* font-size: 48px; */
  font-size: 2.8rem;
  color: #ffc574;
  /* width: 600px; */
  width: 45vw;
  text-align: center;
  font-size: 3.3vw;
  /* font-weight: bold;
    font-style: italic; */
}
.main_item {
  font-family: monospace;
  /* background-color: rgb(0, 255, 162);
    border: solid blue 2px; */
  margin: 16px;
  margin-right: auto;
  /* width: 600px; */
  width: 50vw;
  /* height: 550px; */
  height: 10vh;
  padding: 20px;
}
.h2 {
  font-family: monospace;
  /* font-size: 30px; */
  font-size: 2rem;
  color: #14dae8;
  /* color: red; */
  /* border: solid red 2px; */
  text-align: left;
  /* height: 250px; */
  /* height: 60vh; */
  width: 45vw;
  font-size: 2.5vw;
  padding: 10px;
  padding-top: 15px;
}
.myimage {
  /* width: auto;
  height: auto; */
  max-width: 100%;
  height: 86vh;
  /* width: 40vw; */
  border-radius: 50%;
  padding: 20px;
  padding-right: 55px;
}

/* main ends*/

/* BORDER 1 */
.border1 {
  font-family: monospace;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 25vh;
  font-size: 8vw;
  justify-content: center;
  align-items: center;
  background-color: #04364a;
  color: #ed9728;
  text-align: center;
  /* font-size: 100px; */
  /* border: solid rgb(250, 8, 8) 2px; */
  /* background-color: #244855; */
  /* height: 250px; */
}

/* .bb1{
  width:90vw;
} */
/* BORDER 1 ENDS */

/* art */
/* .art{
    display: flex;
    border: solid black 2px;
    flex-direction: column;
    margin-top: 50px;
}

.art_item{
    background-color: red;
    border: solid blue 2px;
    margin: 16px;
    width: 122px;
    height: 122px;
} */

/* art ends */

/* BORDER 2 */
.border2 {
  /* display: flex;
  border: solid black 2px;
  flex-direction: column;
  margin-top: 50px;
  margin-bottom: 50px; */

  display: flex;
  font-family: monospace;
  /* border: solid rgb(250, 8, 8) 2px; */
  flex-direction: column;
  /* width: 100%; */
  justify-content: center;
  align-items: center;
  /* font-size: 100px; */
  /* background-color: #244855; */
  background-color: #04364a;
  /* height: 250px; */
  color: #4cc58f;
  text-align: center;
  width: 100%;
  height: 25vh;
  font-size: 8vw;
}
/* BORDER 2 ENDS */

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  background-color: #244855;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}


/* art ends */

/* jokes */
.jokes {
  display: flex;
  flex-wrap: wrap;
  font-family: monospace;
  /* border: solid black 2px; */
  flex-direction: column;
  /* margin-top: 50px; */
  background-color: #3f8198;
  justify-content: space-around;
  align-content: flex-start;
  /* word-wrap: break-word;  */

  /* gap: 5px; */
  /* height: 850px; */
  height: 140vh;
  width: 100%;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  margin: 5px;
  /* height: 6.3vh; */
  font-size: 1vw;
  /* word-wrap: break-word; */
  /* width: 31.5%; */
  width: max-content;
  background-color: #244855;
  border-radius: 10px;
  flex-grow: 1;
  flex-basis: 30px;
  /* flex: 1 1 6.3vh; */
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

h4,
p {
  color: #d8f791;
}

/* Add some padding inside the card container */
.cc {
  /* padding: 2px 16px; */
  padding: 4px 16px;
  /* overflow-wrap: break-word; */
}

/* .hello{
  height: 100px;
  width: 100px;
} */

/* jokes ends */

/* BORDER 3 */
.border3 {
  display: flex;
  font-family: monospace;
  /* border: solid rgb(250, 8, 8) 2px; */
  flex-direction: column;
  width: 100%;
  height: 25vh;
  font-size: 8vw;
  /* width: 100%; */
  /* height: 150px; */
  justify-content: center;
  align-items: center;
  /* font-size: 100px; */
  background-color: #04364a;
  color: #dafffb;
  text-align: center;
}
/* BORDER 3 ENDS */

/* footer */
.footer {
  display: flex;
  /* border: solid black 2px; */
  flex-direction: column;
  /* margin-top: 50px; */
}

/* .footer_item {
  background-color: red;
  border: solid blue 2px;
  margin: 16px;
  width: 122px;
  height: 122px;
} */

.ff {
  font-family: monospace;
  text-align: center;
  /* font-size: 30px; */
  width: 100%;
  height: 6.5vh;
  font-size: 2vw;
  color: #0fa4af;
  background-color: #04364a;
  padding-bottom: 10px;
}
/* footer ends */


/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }

  .myimage{
    display: none;
  }
  

.pp{
  justify-content: left;
  margin: 2em;
  width: 30vw;

}
.navbar{
  padding: 0;
  margin: 0;
  margin-top: 20px;
  margin-right: 50px;
}
.navv{
  /* width: 70vw;
  /* margin: 0; */
  /* margin-top: 10em;  */
  /* justify-content:left; */
  /* margin: 2em; */
  width: 30vw;
  margin: 0;
}

.h1{
  padding: 0;
  margin: 0;
  padding-top: 30px;
  width: 80vw;
  height: 30vh;
  font-size: 8vh;

}

.h2{
  padding: 0;
  margin: 0;
  margin-top: 1rem;
  width: 80vw;
  font-size: 7vw;
}
  
.jokes{
  width: auto;
}
.card{

  width: max-content;
  

  /* flex-grow: 10; */
  flex-basis: 3vw;
  font-size: 1.2vw;
}
 .border1,.border2,.border3{
  height: 10vh;
 }
.ff{
  padding-top: 1rem;
}

}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
  .myimage{
    display: none;
  }
  /* myimage{
    display: none;
  }
   */

.pp{
  justify-content: left;
  margin: 2em;
  width: 30vw;

}
.navbar{
  padding: 0;
  margin: 0;
  margin-top: 20px;
  margin-right: 50px;
}
.navv{
  /* width: 70vw;
  /* margin: 0; */
  /* margin-top: 10em;  */
  /* justify-content:left; */
  /* margin: 2em; */
  width: 30vw;
  margin: 0;
}

.h1{
  padding: 0;
  margin: 0;
  padding-top: 30px;
  width: 80vw;
  height: 30vh;
  font-size: 8vh;

}

.h2{
  padding: 0;
  margin: 0;
  margin-top: 1rem;
  width: 80vw;
  font-size: 7vw;
}
  
.jokes{
  width: auto;
}
.card{

  width: max-content;
  

  /* flex-grow: 10; */
  flex-basis: 3vw;
  font-size: 1.2vw;
}
 .border1,.border2,.border3{
  height: 10vh;
 }
.ff{
  padding-top: 1rem;
}
}